html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    margin-top: auto;
}

body {
    padding-top: 56px;
    font-family: sans-serif !important;
}

.bg-darkgreen {
    background-color: seagreen !important;
}

.cart-item-description {
    line-height: 100%;
    font-size: 0.8em;
}

.classWithShadow{
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.item-img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
